/* Import font styles */
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Gloria+Hallelujah&family=Roboto&display=swap');

/* Fonts list
Heading
font-family: 'Bangers', cursive;
Handwritting
font-family: 'Gloria Hallelujah', cursive;
General
font-family: 'Roboto', sans-serif;
*/

/* GLOBAL STYLE */
body {
    font-family: 'Roboto', sans-serif;
}
h2 {
    font-family: 'Gloria Hallelujah', cursive;
}
h3 {
    font-family: 'Bangers', cursive;
}

/* HEADING SECTION */
#heading {
    background-color: rgb(59, 59, 59);
    color: #fff;
    font-family: 'Bangers', cursive;
}

/* SEARCH SECTION */
#searchedCities {
    font-family: 'Gloria Hallelujah', cursive;
}

button :hover {
    color: white;
    transition: 0.5s;
    font-size: larger;
}

/* RESULT SECTION */
#uviColor {
    padding: 4px;
}

#resultSection {
    display: none;
}